<%- include('head', { title: 'Voting Details' }) -%>
<head>
  <title>Voting</title>
  <link rel="stylesheet" type="text/css" href="../style.css"/>
</head>
<body>
  <header>
    <h1>Voting</h1>
  </header>
  <div id="container">
    <div id="votacion">
      <h2><%= voting.description %></h2>
      <h3>Fecha límite para votar: <%= voting.last_date %> - <%= voting.last_hour %></h3>
    </div>
    <% var dict_answers = {} %>
    <% var rows = [] %>
    <% answers = answers.find(x => x.group == voting.id) %>
    <% if (answers != undefined) { %>
      <% answers.reduction.forEach(function(answer){ %>
        <% if(dict_answers[answer.option] != null ) { %>
          <% dict_answers[answer.option] += 1 %>
        <% } %>
        <% if(dict_answers[answer.option] == null ) { %>
          <% dict_answers[answer.option] = 1 %>
        <% } %>
      <% }) %>
      <% Object.entries(dict_answers).forEach(([key, value]) => { %>
        <% rows.push([key, value]) %>
      <% }) %>
    <% } %>

      <script>
        anychart.onDocumentReady(function() {
          var today = new Date();
          var last_date = "<%= voting.last_date %>";
          var last_hour = "<%= voting.last_hour %>";
          var [year, month, day] = last_date.split('-');
          var [hour, minutes] = last_hour.split(':');
          var seconds = 0;
          var last_date = new Date(
            +year,
            +month -1,
            +day,
            +hour,
            +minutes,
            +seconds
          );

          var user = "<%= user %>";
          var rows_raw = "<%= rows %>";
          var opciones = "<%= voting.opcion %>";
          opciones = opciones.split(","); 
          var rows = [];
          console.log(rows_raw);
          if (rows_raw != ""){
            var match = rows_raw.match(/[^,]+,[^,]+/g);

            match.forEach(function(pair) {
              rows.push(pair.split(","));
            });
          };
          
          var data = {
            header: ["Option", "Number of votes"],
            rows: rows
          };
          var chart = anychart.column();
          chart.data(data);
          chart.title("<%= voting.name %>");
          chart.container("votacion");
          chart.draw();
          if (user && today < last_date){
            opciones.forEach(function(opcion) {
              var nuevaOpcion = document.createElement("button");
              nuevaOpcion.type = "submit";
              nuevaOpcion.name = "option";
              nuevaOpcion.id = "option";
              nuevaOpcion.value = opcion;
              nuevaOpcion.textContent = opcion;
              nuevaOpcion.setAttribute("form","opcionesform");
              document.getElementById("opciones").appendChild(nuevaOpcion);
            });
          };
        });
      </script>
      <div id="opciones" style="margin-top: 5px; text-align: center;">
        <% if (user) { %>
        <form action="/answer-voting" id="opcionesform" name="opcionesform" style="display: none;" method="post">
          <input type="text" name="voting" id="voting" value="<%= voting.id %>" hidden readonly>
          <input type="text" name="usuarioid" id="usuarioid" value="<%= user.username %>" hidden readonly>
        </form>
        <%} %>
      </div>
  </div>
</body>

<%- include('foot') -%>